<!--index.html-->

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>LoadingScreen</title>
    <!-- CSS -->
    <link href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../assets/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../assets/fontawesome/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/loader.css" type="text/css"/>
  </head>
  <body>
    <div id="loading">
      <div id="content-loading">
        <p id="advice">N'oubliez pas: Ils y croient comme du feu</p>
        <div id="loading-statut">Chargement<i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
      </div>
    </div>
  </body>
</html>