<!--index.html-->

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>LoadingScreen</title>
    <!-- CSS -->
  </head>
  <body style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
      <img src="../assets/images/icon.ico" alt="LoadingScreen">
  </body>
