@font-face {
    font-family: "Titan One";
    src: url("../fonts/TitanOne-Regular.ttf");
}

*
{
    margin: 0; 
    padding: 0;
    font-family: 'Titan One', cursive;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

body::-webkit-scrollbar {
    display: none;
}

/* MENU */
.menu {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url("../images/background-corte.png");
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
    margin: 15px 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
}

.button {
    font-size: 1rem;
    text-align: center;
    width: max-content;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;   
    background-color: rgba(0, 0, 0, 0.6); 
    color: #FFF;
    cursor: pointer;
}

.button:focus-visible {
    outline: none;
}

.button:hover:not(:disabled) {
    color: gray;
}

/* MAIN MENU */
#menu-container {
    height: 50%;
}

nav{
    display: flex;
    gap: 10px;
}

.content-version {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
    padding: 10px;
    color: #ededed;
}

/* OPTIONS */
#settings-menu {
    font-size: 30px;
}
#settings-container {
    height: 100%;
}

#content-settings {
    width: 80%;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.6);
}

#nav-settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.setting-button {
    margin: 10px 0;
    font-size: 40px;
    text-decoration: none;
    color: darkgrey;
    cursor: pointer;
}
.setting-button:hover, .setting-button.active {
    color: #ededed;
}

.content-items {
    display: none;
    margin: 20px;
    color: white;
}
#audio-settings{display: block;}

.item {
    font-size: 25px;
    width: 100%;
    padding: 10px 0;
    display: flex;
}
.item :nth-child(n) {
    width: calc(100%/3);
}

.input{
    display: flex;
    justify-content: center;
}
input[type=range]{
    width: 200px;
}
.value {
    display: flex;
    justify-content: flex-end;
}
.value .button {
    margin-top: 0;
}

.content-button{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* JEU */
#content-controls {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 10;
    font-size: 20px;
    opacity: 0;
    transition: opacity .4s linear;
}
#content-controls.is-visible {
    opacity: 1;
    transition: opacity .4s linear;
}

#content-controls > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #000;
}

.control-button {
    margin: 10px;
    cursor: pointer;
}

#back-second {
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-back-second {
    letter-spacing: -5px;
    transform: translateX(-5px);
}

#game-settings-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    transition: box-shadow .6s ease-in-out;
}

#game-settings-button:hover {
    box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.6);
    transition: box-shadow .6s ease-in-out;
}

#game-settings-button .fa-gear {
    color: #FFF;
    transform: rotate(0deg);
    transition: transform .6s ease-in-out;
}
#game-settings-button:hover .fa-gear {
    transform: rotate(180deg);
    transition: transform .6s ease-in-out;
}



#content-game-settings {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
}
#content-game-settings > div {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
#content-game-settings .game-setting-button {
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: none;
    padding: 5px;
    box-shadow: none;
    transition: box-shadow .6s ease-in-out;
}
#content-game-settings .game-setting-button:hover {
    box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.6);
    transition: box-shadow .6s ease-in-out;
}
#content-game-settings #close-button {
    align-self: flex-end;
}

#content-choices {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.choice-button {
    cursor: pointer;
    text-align: center;
    font-size: 36px;
    color: #fff;
    background: none;
    border: none;
    flex: 1 1 auto;
    padding: 10px;
    height: 100%;
    box-shadow: none;
    transition: box-shadow .6s ease-in-out;
}
.choice-button:hover {
    box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.75);
    transition: box-shadow .6s ease-in-out;
}

#content-text {
    padding: 20px;
    text-align: justify;
    background-color: #FFF;
}

#text-replace {
    white-space: break-spaces;
}

#pause-play {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
}

#video {
    z-index: 1;
    width: 100%;
}